@import '@/styles/base/breakpoints';
@import '@/styles/base/colors';

$shift-arrow: .25rem;

.hero-block {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include breakpoint(sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    justify-items: center;
  }

  @include breakpoint(md) {
    gap: 6rem;
    padding: 0 6.5625rem;
  }

  @include breakpoint(lg) {
    gap: 12rem;
  }

  > svg,
  button {
    margin: 0 auto;

    @include breakpoint(sm) {
      margin: 0;
    }
  }

  > svg {
    max-width: 22.375rem;

    @include breakpoint(lg) {
      max-width: 26.125rem;
    }
  }
}

.main {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include breakpoint(sm) {
    padding-top: 0;
    text-align: left;
  }

  h3 {
    max-width: 34.375rem;
    margin: 2.5rem 0 1.375rem;
    letter-spacing: -1px;
    color: $thunder;

    @include breakpoint(sm) {
      margin: 0 0 1.375rem;
    }

    @include breakpoint(md) {
      max-width: 34.375rem;
    }

    @include breakpoint(lg) {
      max-width: 44.75rem;
    }
  }
}

.description {
  max-width: 31.625rem;
  margin: 0 0 3.25rem;
  color: $mine-shaft;

  @include breakpoint(sm) {
    display: block;
  }
}
