@import '@/styles/base/breakpoints';
@import '@/styles/base/colors';
@import '@/styles/base/functions';

.wrapper {
  position: relative;
  left: 50%;
  width: 100vw;
  margin: 0 0 0 -50vw;
  padding: 5rem 0;
  background: $athens-gray;

  @include breakpoint(sm) {
    padding-bottom: 7.5rem;
  }
}

.block {
  margin: 0 auto;

  h2 {
    margin: 0 auto;
    max-width: 52.8125rem;
    text-align: center;
    margin-bottom: 2.5rem;

    @include breakpoint(sm) {
      margin-bottom: 5rem;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  @include breakpoint(md) {
    padding: 0 6.75rem;
  }

  @include breakpoint(lg) {
    padding: 0 .6875rem;
  }
}

.item {
  width: 100%;
  text-align: center;

  &:not(:first-child) {
    h4 {
      margin: 2.5rem 0 .75rem;
      padding-top: 2.5rem;
      border-top: 1px solid $nobel;
    }
  }

  p {
    margin: 0;
    color: $scorpion;
  }

  @include breakpoint(sm) {
    width: 50%;
    padding: 0 rem(50);
    text-align: left;

    &:nth-child(1),
    &:nth-child(2) {
      h4 {
        margin: 0 0 .75rem;
        padding-top: 0;
        border-top: none;
      }
    }
  }

  @include breakpoint(lg) {
    width: calc(100% / 3);

    &:nth-child(3) {
      h4 {
        margin: 0 0 .75rem;
        padding: 0;
        border-top: none;
      }
    }
  }
}
