// TODO fix stylelint, format styles

@import '@/styles/base/typography';
@import '@/styles/base/functions';

.case-studies {
  padding: rem(80) 0 rem(16);
  border-top: 1px solid $nobel;
  background-color: $athens-gray;

  @include breakpoint(md) {
    padding: rem(90) 0;
  }
}

.back-link {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: rem(14);
  font-family: var(--galano);
  line-height: rem(16);
  color: $blue-ribbon;

  span {
    &:first-child {
      font-weight: 900;
      padding-bottom: 2px;
      transform: rotate(90deg);
    }

    &:last-child {
      border-bottom: 1px solid $blue-ribbon;
      padding-bottom: rem(4);
      margin-left: rem(8);

      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }

  svg {
    display: block;
    width: rem(8);

    path {
      fill: $blue-ribbon;
    }
  }
}

.title {
  max-width: rem(1024);
  font-family: var(--galano);
  font-size: rem(46);
  line-height: rem(55);
  font-weight: 400;
  margin: rem(40) 0;
  color: $thunder;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: rem(28);
  list-style: none;
}

.tag {
  padding: .5rem .75rem;
  margin: 0 rem(12) rem(12) 0;
  background-color: $concrete;

  h5 {
    font-size: rem(14);
    line-height: rem(16);
    font-weight: 400;
    color: $scorpion;
    margin: 0;
  }
}

.case-studies-text {
  margin-bottom: rem(26);
  max-width: rem(768);

  @include breakpoint(md) {
    margin-bottom: rem(80);
  }
}

.description-columns {
  display: flex;
  flex-wrap: wrap;
  margin: rem(24) 0 0;
  padding: rem(24) 0 0;

  @include breakpoint(md) {
    margin: rem(40) 0 0;
    padding: rem(54) 0 0;
    border-top: 1px dashed $nobel;
  }
}

.description-column {
  width: 100%;
  padding: 20px 0 10px;
  border-top: 1px dashed $nobel;
  border-left: 0;

  ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    li {
      font-family: var(--open-sans);
      font-size: rem(17);
      margin-right: rem(10);
      margin-bottom: rem(10);
      color: $thunder;
    }
  }

  &:first-child {
    border-left: 0;
    padding-left: 0;
  }

  @include breakpoint(md) {
    padding: 0 24px;
    width: 50%;
    border-top: 0;
    border-left: 1px dashed $nobel;
    margin: 0 0 rem(16);
  }

  @include breakpoint(lg) {
    width: 25%;
    border-top: 0;
    border-left: 1px dashed $nobel;
    margin: 0;
  }
}

.column-title {
  font-family: var(--galano);
  color: $mine-shaft;
  font-size: rem(28);
  line-height: rem(34);


  &::before {
    content: '>';
    padding-right: 1rem;
    font-weight: 900;
    font-size: rem(22);
    color: $blue-ribbon;
  }
}

.column-links {
  a {
    color: $blue-ribbon;
    border-bottom: 1px solid $blue-ribbon;

    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

.column-logos {
  display: flex;
  flex-wrap: wrap;

  li {
    display: flex;
    padding: 12px;
    border: 1px solid $black-haze;
    border-radius: 2px;
  }

  @include breakpoint(lg) {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(3, auto);
  }
}
