@import '@/styles/base/colors';
@import '@/styles/base/breakpoints';
@import '@/styles/base/functions';

.wrapper {
  position: relative;
  background: $bg;
  padding-top: 46px;
}

.linksContainer {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  > a {
    width: 100%;
  }

  @include breakpoint(sm) {
    > a {
      width: auto;
    }
  }
}

.title {
  margin: 0 auto 2.5rem;
  text-align: center;
  padding: 0 1rem;

  @include breakpoint(sm) {
    max-width: rem(600);
    padding: 0;
  }
}

.slider {
  margin-bottom: 60px;
  position: relative;
  user-select: none;

  @include breakpoint(lg) {
    margin-bottom: 48px;
  }

  // Swiper library overrides
  /* stylelint-disable selector-pseudo-class-no-unknown */
  :global {
    .swiper {
      position: static;
      padding: 16px 0;
    }

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-slide {
      width: auto;
    }

    .swiper-slide-active,
    .swiper-slide-duplicate-active {
      :local(.slide) {
        position: relative;
        z-index: 1;
        transform: scale(1);
        opacity: 1;
      }
    }

    .swiper-pagination-container {
      width: auto;
    }

    .swiper-pagination {
      position: relative;
      margin-top: 24px;
    }

    .swiper-pagination-bullet {
      background-color: $scorpion;
      border-radius: 0;
      width: rem(10);
      height: rem(10);
      transition: all .3s ease-in-out;
    }

    .swiper-pagination-bullet-active {
      background-color: $primary;
      border-color: $primary;
    }

    .swiper-button-prev,
    .swiper-button-next {
      appearance: none;
      cursor: pointer;
      z-index: 1;
      top: 100%;
      width: rem(40);
      height: rem(40);
      transition: background .3s;
      background: $white;
      box-shadow: 0 0 .875rem rgba(27, 18, 18, .2);
      padding: 0;
      display: grid;
      align-items: center;
      justify-content: center;

      path {
        fill: $primary;
        transition: fill .3s;
      }

      @include breakpoint(lg) {
        position: absolute;
        top: calc(50% - rem(30));
        width: rem(60);
        height: rem(60);
      }

      &::before {
        content: none;
        color: $primary;
      }

      &:hover,
      &:focus-visible {
        outline: none;
        color: $primary;
        background: $primary;
        transition: background .3s;

        svg {
          path {
            fill: $bg;
          }
        }
      }
    }

    .swiper-button-prev {
      @include breakpoint(lg) {
        left: calc(50% - rem(400));
      }
    }

    .swiper-button-next {
      @include breakpoint(lg) {
        right: calc(50% - rem(400));
      }
    }
  }
}

.slide {
  cursor: grab;
  position: relative;
  display: grid;
  transition: opacity 1s, transform 1s;
  opacity: .3;
  background: $white;
  box-shadow: 0 0 .875rem rgba(27, 18, 18, .2);
  padding: 24px;
  width: calc(100vw - rem(48));
  max-width: rem(400);
  margin: 0 auto;
  user-select: initial;

  @include breakpoint(lg) {
    transition: opacity 1.5s, transform 1.5s z-index 1.5s;
    transform: scale(.9);
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.brand {
  margin-bottom: 16px;
  border-bottom: 1px solid $gray;

  img {
    width: auto;
    height: 36px;
  }
}

.heading {
  margin: 16px 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0 .2rem .2rem 0;
  padding: .375rem .75rem;
  color: $scorpion;
  background-color: $black-haze;
}

.description {
  color: $scorpion;
}

.link {
  display: block;
  cursor: pointer;
  transition: .3s ease;
  text-transform: capitalize;
  color: $primary;
  padding: 8px 0;

  &:hover,
  &:focus-visible {
    transition: .3s ease;
    color: $primary;
  }
}

.slide-body {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.swiperControls {
  margin: 32px auto 0;
  display: flex;
  width: max-content;
  align-items: center;
  gap: 24px;
}
