@import '@/styles/base/colors';
@import '@/styles/base/breakpoints';
@import '@/styles/base/functions';
@import '@/styles/base/typography';

.section {
  background-color: $primary;
  color: $white;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include breakpoint(sm) {
    margin-bottom: 90px;
  }

  @include breakpoint(lg) {
    margin-bottom: 80px;
  }
}

.heading {
  margin: 0;
  font-weight: 700;
  font-size: rem(17);
}

.mobile {
  @include breakpoint(md) {
    display: none;
  }
}

.mobile {
  a:not(:last-of-type) {
    display: block;
    margin-bottom: 80px;
  }
}

.tablet {
  display: none;

  @include breakpoint(md) {
    display: block;
  }
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid $white;
  cursor: pointer;
  margin: 5px;
}

.title {
  margin: 28px 0 12px;
  font-family: var(--galano);
  font-weight: 600;
  font-size: rem(26);
  color: $white;
}

.paragraph {
  margin: 0;
  margin-bottom: 32px;
  font-family: var(--open-sans);
  font-size: rem(17);
  line-height: 1.5;
  color: $white;
}
